$bgColor: #1d1e2d;
$bgColorDark: #181b28;
$textColor: #ffffff;
$borderColor: #282a39;
$iconColor: #525562;
$iconButtonBg: #232736;
$iconButtonBorder: #2f3140;
$colorHighlight: #1079f9;
$colorRed: #df3d3d;
$listHeaderBg: #202533;
$sideBarTextColor: #dcdfe3;
$textColor: white;
$textColorLite: #898c99;
